<footer>
    <div class="div-container">
        <div class="first">
            <a class="#"><i class="fa-solid fa-globe"></i></a>English (IN)  
            <a class="#"><i class="fa-solid fa-indian-rupee-sign"></i></a>   
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
            <i class="fa-brands fa-square-instagram"></i>
            
        </div>
        <div class="two">
           <a href="#">  <i class="fa-sharp fa-solid fa-circle-c"></i></a> @ top visitng place pvt Ltd
        </div>
        <div class="three">
           <a href="#">Privacy</a>
           <a href="#">Terms</a>
        </div> 
    </div>
</footer>