<%- layout("./layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-8 offset-2">
    <h3>create New Listing</h3>
    <form method="post" action="/listings"  class="needs-validation" enctype="multipart/form-data" >
        <div class="mb-3">
        <lable for="title" class="form-label">Title</lable>
        <input type="text" placeholder="Add a catchy title" id="title" class="form-control" name="listing[title]" required>
    </div>
        <div class="mb-3">
        <lable for="description"  class="form-label">description</lable><br>
        <textarea row="2" col="2" id="description" id="description" class="form-control" name="listing[description]" required></textarea>
    </div>

    <div class="mb-3">
        <lable for="image link" class="form-label">Upload Listing image</lable><br>
        <input type="file" class="form-control" id="image link" name="listing[image]">
    </div>
    <div class="row">
       <div class="mb-3 col-4">
        <lable for="price" class="form-label">Price</lable><br>
        <input type="text" placeholder="1200" id="price" class="form-control" name="listing[price]" required>
    </div>
    <div class="mb-3 col-8">
        <lable for="country" class="form-label">country</lable><br>
        <input type="text" placeholder="Country" class="form-control" id="country" name="listing[country]" required>
    </div>
</div>

    <div class="mb-3">
        <lable for="Location" class="form-label">Location</lable><br>
        <input type="text" placeholder="Location"class="form-control" id="Location" name="listing[location]" required>
    </div>   
        <button class=" btn btn-danger"> Add</button>
    </form>
    </div>
    